* {
    font-family: system-ui;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: lightskyblue;
    padding: 2rem;
}

header + div {
    display: flex;
    flex-grow: 1;
}

aside {
    background-color: mediumpurple;
    padding: 1rem;
}

main {
    background-color: coral;
    padding: 1rem;
    flex-grow: 1;
}
